gitRepo:
  uri: https://github.com/tf-govstack/mosip-config
  version: govstack-v1.2.0.1-B3
  ## Folders within the base repo where properties may be found.
  searchFolders: ""
  private: false
  ## User name of user who has access to the private repo. Ignore for public repo
  username: ""
  token: ""
